# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
/site/

# Django
*.log
*.sqlite3 # Ignora il database SQLite
/media/   # I file media degli utenti non vanno su Git, useremo S3 in prod.
/staticfiles/
# PyCharm / IDE
.idea/

# Credenziali sensibili (se usi .env)
.env

# Gunicorn / Logs
gunicorn.log